In [25]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv("E:\\datasets\\uncleaned_data.csv")
print(df.head().to_string())

  Unnamed: 1              Unnamed: 2                 Unnamed: 3 Unnamed: 4    Unnamed: 5   Unnamed: 6        Unnamed: 7
0        NaN                     NaN                        NaN        NaN           NaN          NaN               NaN
1       Date                SalesRep                    Product      Units         Price  Total Sales              City
2   1/1/2013     Isabel  Cross (903)      Nestle Aero Mint Potz       400%  495.00000000         1980       Ranchi_East
3   1/2/2013  Cecilia  Manning (403)     Nestle Smarties Pop-Up       200%  438.00000000          876  Trivandrum_South
4   1/2/2013     Isabel  Cross (705)      Nestle Maxibon Cookie       100%  426.00000000          426       Ranchi_East

In [26]:
df.drop(index=[0,1],inplace=True)
print(df.head().to_string())

  Unnamed: 1              Unnamed: 2                   Unnamed: 3 Unnamed: 4    Unnamed: 5 Unnamed: 6        Unnamed: 7
2   1/1/2013     Isabel  Cross (903)        Nestle Aero Mint Potz       400%  495.00000000       1980       Ranchi_East
3   1/2/2013  Cecilia  Manning (403)       Nestle Smarties Pop-Up       200%  438.00000000        876  Trivandrum_South
4   1/2/2013     Isabel  Cross (705)        Nestle Maxibon Cookie       100%  426.00000000        426       Ranchi_East
5   1/2/2013      Shari  Silva (321)        Nestle Maxibon Cookie       200%  260.00000000        520      Mysore_South
6   1/2/2013     Trevor  Jones (802)        Nestle Toffee Crumble       400%  285.00000000       1140         Pune_West

In [27]:
df.columns=["date","sales_rep","product","units","price","total_sales","city"]
print(df.head().to_string())

       date               sales_rep                      product units         price total_sales              city
2  1/1/2013     Isabel  Cross (903)        Nestle Aero Mint Potz  400%  495.00000000        1980       Ranchi_East
3  1/2/2013  Cecilia  Manning (403)       Nestle Smarties Pop-Up  200%  438.00000000         876  Trivandrum_South
4  1/2/2013     Isabel  Cross (705)        Nestle Maxibon Cookie  100%  426.00000000         426       Ranchi_East
5  1/2/2013      Shari  Silva (321)        Nestle Maxibon Cookie  200%  260.00000000         520      Mysore_South
6  1/2/2013     Trevor  Jones (802)        Nestle Toffee Crumble  400%  285.00000000        1140         Pune_West

In [37]:
print(df.dtypes)

date           object
sales_rep      object
product        object
units          object
price          object
total_sales    object
city           object
dtype: object

In [28]:
import re
def reg(x):
    return re.sub(r"\(\d{3}\)","",x)
df["sales_rep"]=df["sales_rep"].apply(reg)
print(df.head().to_string())

       date          sales_rep                      product units         price total_sales              city
2  1/1/2013     Isabel  Cross         Nestle Aero Mint Potz  400%  495.00000000        1980       Ranchi_East
3  1/2/2013  Cecilia  Manning        Nestle Smarties Pop-Up  200%  438.00000000         876  Trivandrum_South
4  1/2/2013     Isabel  Cross         Nestle Maxibon Cookie  100%  426.00000000         426       Ranchi_East
5  1/2/2013      Shari  Silva         Nestle Maxibon Cookie  200%  260.00000000         520      Mysore_South
6  1/2/2013     Trevor  Jones         Nestle Toffee Crumble  400%  285.00000000        1140         Pune_West

In [30]:
def regg(x):
    return re.sub(r"00\%","",x)
df.units=df.units.apply(regg)
print(df.head().to_string())

       date          sales_rep                      product units         price total_sales              city
2  1/1/2013     Isabel  Cross         Nestle Aero Mint Potz     4  495.00000000        1980       Ranchi_East
3  1/2/2013  Cecilia  Manning        Nestle Smarties Pop-Up     2  438.00000000         876  Trivandrum_South
4  1/2/2013     Isabel  Cross         Nestle Maxibon Cookie     1  426.00000000         426       Ranchi_East
5  1/2/2013      Shari  Silva         Nestle Maxibon Cookie     2  260.00000000         520      Mysore_South
6  1/2/2013     Trevor  Jones         Nestle Toffee Crumble     4  285.00000000        1140         Pune_West

In [32]:
def reggg(x):
    return re.sub(r"\.\d{8}","",x)
df.price=df.price.apply(reggg)
print(df.head().to_string())

       date          sales_rep                      product units price total_sales              city
2  1/1/2013     Isabel  Cross         Nestle Aero Mint Potz     4   495        1980       Ranchi_East
3  1/2/2013  Cecilia  Manning        Nestle Smarties Pop-Up     2   438         876  Trivandrum_South
4  1/2/2013     Isabel  Cross         Nestle Maxibon Cookie     1   426         426       Ranchi_East
5  1/2/2013      Shari  Silva         Nestle Maxibon Cookie     2   260         520      Mysore_South
6  1/2/2013     Trevor  Jones         Nestle Toffee Crumble     4   285        1140         Pune_West

In [38]:
def regggg(x):
    return re.sub(r"_[a-zA-Z]+","",x)
df.city=df.city.apply(regggg)
print(df.head().to_string())

       date          sales_rep                      product units price total_sales        city
2  1/1/2013     Isabel  Cross         Nestle Aero Mint Potz     4   495        1980      Ranchi
3  1/2/2013  Cecilia  Manning        Nestle Smarties Pop-Up     2   438         876  Trivandrum
4  1/2/2013     Isabel  Cross         Nestle Maxibon Cookie     1   426         426      Ranchi
5  1/2/2013      Shari  Silva         Nestle Maxibon Cookie     2   260         520      Mysore
6  1/2/2013     Trevor  Jones         Nestle Toffee Crumble     4   285        1140        Pune

In [40]:
df.to_csv("E:\\datasets\\cleaned_data.csv",index=False)
print("data cleaned successfully.....")

data cleaned successfully.....